.input-cnt {
  width: 100%;
}

#username-input {
  width: 100%;
  background-color: #f1f1f1;
  border: 1px solid #e6e6e6;
  outline: none;
  padding: 10px;
  margin-bottom: 15px;
}

#submit-btn {
  width: 100%;
  border: none;
  border-radius: 2px;
  padding: 12px;
  background-color: #2d9cdb;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

#submit-btn:hover {
  background-color: #2a8cc5;
  transition: 0.3s ease;
}
